@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:ital,wght@1,500&family=Roboto+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 224, 251, 252;
  --primary-color-rgb: 42, 157, 143;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 224, 251, 252;
    --primary-color-rgb: 0, 0, 0;
    --secondary-color-rgb: 238, 108, 77;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--primary-color-rgb));
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.active-link{
  width: 100%;
  border-bottom: 2px solid #ffffffab; 
  
}